html {
	background-color: #000;
	color: #fff;
	font-family: Helvetica, sans-serif;
}
body {
	display: flex;
		align-items: center;
		justify-content: center;
	height: 100vh;
	margin: 0;
}

#time {
	font-size: 36vw;
	line-height: 1;
}
#time .delim {
	display: inline-block;
	transform: translateY(-.1em);
}

#date {
	border-bottom: 1px solid;
	font-size: 6vw;
	padding-bottom: 1rem;
	text-align: right;
}

@media (min-width: 600px) {
	#time {
		font-size: 30vw;
	}
	#date {
		font-size: 5vw;
	}
}